body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h2,
h3 {
  margin-top: 10px;
}

.view-container {
  margin: 20px 0;
}

.thumbnail__buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.thumbnail img {
  max-width: 100%;
  padding: 4px;
}

.ovens .thumbnail img {
  max-height: 330px;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

.thumbnail__title {
  margin-left: 20px;
}

.oven img {
  max-height: 500px;
}

.caption-full {
  text-align: right;
}

.oven__price {
  display: inline-block;
}

.oven__td-title {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  white-space: normal !important;
  color: #666;
}
.oven__td-info {
  width: 40%;
  margin-left: 10px;
  font-size: 14px;
  white-space: normal !important;
  color: #777;
}

.basket td {
  text-align: center;
  vertical-align: middle !important;
}

.basket__first-col {
  width: 10%;
}

.basket__item-count {
  padding: 5px 10px;
}

.basket__total {
  font-size: 16px;
}

.basket-sidebar .btn {
  margin-bottom: 10px;
}

.basket-sidebar .glyphicon {
  margin-right: 10px;
}

@keyframes spinner {
  100% {
    transform: rotate(3600deg);
  }
}

.loading-container {
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
}

.spinner {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url('/images/spinner.png') center center;
  background-size: contain;
  transition-origin: 50% 50%;
  animation: spinner 3s infinite alternate ease-in-out;
}
.spinner-center {
  display: inline-block;
  position: absolute;
  margin-left: -100px;
  width: 100px;
  height: 100px;
  background: url('/images/spinner-center.png') center center;
  background-size: contain;
  content: '';
}

.loading-text {
  position: relative;
  z-index: 1;
  font-size: 1.5rem;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  margin-left: 0.5em;
}
